<!DOCTYPE html>
<html>
<head>
	<title>Workout</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="header">
		<div class="title"> <h1>Fitness Tracker</h1></div>
		<div class="nav bar">
		<ul>
			<% if current_user %>
			<!-- <li><a href="http://localhost:3000/users/<%#= current_user.id%>">My Profile</li></a> -->
			<li><%= link_to "My Summary", summary_path %></li> 

			<!-- <li><a href="http://localhost:3000/#######">Browse Exercises</a></li> -->
			<li><%= link_to "Browse Exercises", exercises_path %></li>

			<!-- <li><a href="http://localhost:3000/#######">Workout Plans</a></li> -->
			<li><%= link_to "Workout Plan", "#" %></li>

			<!-- <li><a href="http://localhost:3000/#######">Workout Meetup</a></li> -->
			<li><%= link_to "Workout Meetup", "#" %></li>

			<li><a href="http://localhost:3000/logout"> <input class="login_button" type="submit" value="Log Out"></a></li>


			<% else %>
			<li><a href="http://localhost:3000/login"> <input class="login_button" type="submit" value="Sign In"></a></li>
			<%end %>
		</ul>
		</div>
	</div>    
	<%= yield %>
</body>
</html>